<div class="text-centered">
<form>
  <div class="form-group">
    <label for="word">Search word</label>
    <input type="text" class="form-control" id="word" placeholder="Word" ng-model="ctrl.word">
  </div>
  <button type="submit" class="btn btn-default" ng-click="ctrl.search()">Search</button>
</form>
</div>

<div class="jumbotron" style="margin-top: 30px;" ng-show="ctrl.response">
  <h1>{{ ctrl.response.word | uppercase }}</h1>
  <strong>DEF: </strong><p ng-bind-html="ctrl.response.meaning"></p>
</div>