<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>IaProject</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<%= yield %>
</div>
<%= javascript_include_tag 'application' %>
</body>
</html>
